<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<resultMap type="Board" id="resultBoard">
		<id column="board_num" property="boardNum" />
		<result column="board_title" property="boardTitle" />
		<result column="board_writer" property="boardWriter" />
		<result column="board_content" property="boardContent" />
		<result column="board_original_filename" property="boardOriginalFileName" />
		<result column="board_rename_filename" property="boardRenameFileName" />
		<result column="board_date" property="boardDate" />
		<result column="board_level" property="boardLevel" />
		<result column="board_ref" property="boardRef" />
		<result column="board_reply_ref" property="boardReplyRef" />
		<result column="board_reply_seq" property="boardReplySeq" />
		<result column="board_readcount" property="boardReadCount" />
	</resultMap>
	
	<resultMap type="Board" id="resultTop3">
		<result column="board_num" property="boardNum" />
		<result column="board_title" property="boardTitle" />
		<result column="board_readcount" property="boardReadCount" />
	</resultMap>
	<!-- 
		비교연산자를 쿼리문에 그냥 사용하면 
		태그 앨리먼트 꺽쇠괄호 등(<, >, &)과 혼동하는 문제가 발생할 수 있음.
		이 문제를 미연에 방지하기 위해 xml 코드 중 xml parser 에 의해 해석하지 말고, 
		문장 그대로 해석하라는 뜻으로 <![CDATA[ 쿼리문장 ]]> 사용함
	 -->
	<select id="selectTop3" resultMap="resultTop3">
		<![CDATA[ 
		SELECT * 
				FROM (SELECT ROWNUM RNUM, BOARD_NUM, BOARD_TITLE, BOARD_READCOUNT
				      FROM (SELECT * FROM BOARD
				            WHERE BOARD_LEVEL = 0 
				            ORDER BY BOARD_READCOUNT DESC))
				WHERE RNUM >= 1 AND RNUM <= 3
		]]>
	</select>
	
	<select id="getListCount" resultType="_int">
		select count(*) from board
	</select>
	
	<select id="selectList" parameterType="board.model.vo.BoardPage" resultMap="resultBoard">
		<![CDATA[ 
		SELECT * 
		FROM (SELECT ROWNUM RNUM, BOARD_NUM, BOARD_TITLE, BOARD_WRITER, BOARD_CONTENT, 
				BOARD_ORIGINAL_FILENAME, BOARD_RENAME_FILENAME, 
		        BOARD_DATE, BOARD_LEVEL, BOARD_REF, 
		        BOARD_REPLY_REF, BOARD_REPLY_SEQ, BOARD_READCOUNT 
		      FROM (SELECT * FROM BOARD
		            ORDER BY 
			            BOARD_REF DESC, 
			            BOARD_REPLY_REF DESC, 
			            BOARD_LEVEL ASC, 
			            BOARD_REPLY_SEQ ASC))
		WHERE RNUM >= #{startRow} AND RNUM <= #{endRow}
		]]>
	</select>
	
	<insert id="insertOriginBoard" parameterType="Board">
		insert into board 
		<if test="boardOriginalFileName != null">
		values ((select max(board_num) + 1 from board), 
				#{boardTitle}, #{boardWriter}, #{boardContent}, 
				#{boardOriginalFileName}, #{boardRenameFileName}, 
				sysdate, 0, (select max(board_num) + 1 from board), 
				default, default, default)
		</if>
		<if test="boardOriginalFileName == null">
		(board_num, board_title, board_writer, board_content, board_date, 
		board_level, board_ref, board_reply_ref, board_reply_seq, board_readcount)
		values ((select max(board_num) + 1 from board), 
				#{boardTitle}, #{boardWriter}, #{boardContent}, 
				sysdate, 0, (select max(board_num) + 1 from board), 
				default, default, default)
		</if>
	</insert>
   
	<select id="selectBoard" parameterType="int" resultMap="resultBoard">
		select * from board 
		where board_num = #{board_num}
	</select>
	
	<insert id="insertReply1" parameterType="Board">
		insert into board
		values ((select max(board_num) + 1 from board),
				 #{boardTitle}, #{boardWriter}, #{boardContent}, null, null,
				 sysdate, 1, #{boardRef}, (select max(board_num) + 1 from board), #{boardReplySeq}, default)
	</insert>
	
	<insert id="insertReply2" parameterType="Board">
		insert into board 
		values ((select max(board_num) + 1 from board), 
				#{boardTitle}, #{boardWriter}, #{boardContent}, null, null,
				sysdate, 2, #{boardRef}, #{boardReplyRef}, #{boardReplySeq}, default)
	</insert>
	
	<update id="addReadCount" parameterType="_int">
		update board 
		set board_readcount = board_readcount + 1
		where board_num = #{ board_num }
	</update>
	
	<update id="updateReplySeq1" parameterType="Board">
		update board 
		set board_reply_seq = board_reply_seq + 1 
		where board_ref = #{boardRef} 
		and board_level = #{boardLevel}
	</update>
	
	<update id="updateReplySeq2" parameterType="Board">
		update board 
		set board_reply_seq = board_reply_seq + 1 
		where board_ref = #{boardRef} 
		and board_level = #{boardLevel} 
		and board_reply_ref = #{boardReplyRef}
	</update>
	
	<update id="updateReply" parameterType="Board">
		update board 
			set board_title = #{boardTitle}, 
			board_content = #{boardContent} 
		where board_num = #{boardNum}
	</update>
	
	<update id="updateOrigin" parameterType="Board">
		update board 
			set board_title = #{boardTitle}, 
			board_content = #{boardContent}
			<if test="boardOriginalFileName != null">
			, 
			board_original_filename = #{boardOriginalFileName}, 
			board_rename_filename = #{boardRenameFileName} 
			</if>
			<if test="boardOriginalFileName == null">
	        , 
	        board_original_filename = null, 
			board_rename_filename = null 
	        </if>
		where board_num = #{boardNum}
	</update>
	
	
	<delete id="deleteBoard" parameterType="Board">
		delete from board 
		<if test="boardLevel == 0">
			where board_ref = #{boardNum}
		</if>
		<if test="boardLevel == 1">
			where board_reply_ref = #{boardNum}
		</if>
		<if test="boardLevel == 2">
			where board_num = #{boardNum}
		</if>
	</delete>

</mapper>
